.td1{
color: black


}
.td11{
text-align: center;
background-color: red;
font-family: 'Courier New', Courier, monospace;

}
.td2{
    color: black
    
    
    }
    .td22{
        text-align: center;
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .td3{
        color: black;
        
        
        }
        .td33{
            text-align: center;
        background-color: purple;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        }
        .td4{
            color: black
            
            
            }
            .td44{
                text-align: center;
            background-color: pink;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
            }
            .td5{
                color: black
                
                
                }
                .td55{
                    text-align: center;
                background-color: green;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                
                }
                .td6{
                    color: black
                    
                    
                    }
                    .td66{
                        text-align: center;
                    background-color: aqua;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    
                    }
                    
                    .td7{
                        color: black
                        
                        
                        }
                        .td77{
                            text-align: center;
                        background-color: tomato;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        
                        }
                        .td8{
                            color: black
                            
                            
                            }
                            .td88{
                                text-align: center;
                            background-color: orange;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            
                            }
                            .td9{
                                color: black
                                
                                
                                }
                                .td99{
                                    text-align: center;
                                background-color: dodgerblue;
                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                
                                }
                                .td10{
                                    color: black
                                    
                                    
                                    }
                                    .td110{
                                        text-align: center;
                                    background-color: gray;
                                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                    
                                    }
                                    .td12{
                                        color: black
                                        
                                        
                                        }
                                        .td122{
                                            text-align: center;
                                        background-color: slateblue;
                                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                        
                             }
                                        .td13{
                                            color: black
                                            
                                            
                                            }
                                            .td133{
                                                text-align: center;
                                            background-color: yellow;
                                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                            
                                            }
                                            
                                
                                            .td14{
                                                color: black
                                                
                                                
                                                }
                                                .td144{
                                                    text-align: center;
                                                background-color: violet;
                                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                
                                                }
                                                .td15{
                                                    color: black
                                                    
                                                    
                                                    }
                                                    .td155{
                                                        text-align: center;
                                                    background-color: brown;
                                                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                    
                                                    }
                                                    .td16{
                                                        color: black
                                                        
                                                        
                                                        }
                                                        .td166{
                                                            text-align: center;
                                                        background-color: lightpink;
                                                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                        
                                                        }
                                                        
                                                    
                                                        .td17{
                                                            color: black
                                                            
                                                            
                                                            }
                                                            .td177{
                                                                text-align: center;
                                                            background-color: aliceblue;
                                                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                            
                                                            }
                                                            .td18{
                                                                color: black
                                                                
                                                                
                                                                }
                                                                .td188{
                                                                    text-align: center;
                                                                background-color: cadetblue;
                                                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                
                                                                }
                                                                
                                                                .td19{
                                                                    color: black
                                                                    
                                                                    
                                                                    }
                                                                    .td199{
                                                                        text-align: center;
                                                                    background-color: chartreuse;
                                                                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                    
                                                                    }
                                                                    
                                                                
                                                                    .td20{
                                                                        color: black
                                                                        
                                                                        
                                                                        }
                                                                        .td21{
                                                                            text-align: center;
                                                                        background-color: chocolate;
                                                                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                        
                                                                        }
                                                                        
                                                                        .td30{
                                                                            color: black
                                                                            
                                                                            
                                                                            }
                                                                            .td31{
                                                                                text-align: center;
                                                                            background-color: crimson;
                                                                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                            
                                                                            }
                                                                            
                                                                            .td40{
                                                                                color: black
                                                                                
                                                                                
                                                                                }
                                                                                .td41{
                                                                                    text-align: center;
                                                                                background-color: darkblue;
                                                                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                                
                                                                                }
                                                                                .td50{
                                                                                    color: black
                                                                                    
                                                                                    
                                                                                    }
                                                                                    .td51{
                                                                                        text-align: center;
                                                                                    background-color: fuchsia;
                                                                                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                                    
                                                                                    }
                                                                                    .td60{
                                                                                        color: black
                                                                                        
                                                                                        
                                                                                        }
                                                                                        .td61{
                                                                                            text-align: center;
                                                                                        background-color: goldenrod;
                                                                                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                                        
                                                                                        }
                                                                                        
                                                                                     
                                                                                        .td70{
                                                                                            color: black
                                                                                            
                                                                                            
                                                                                            }
                                                                                            .td71{
                                                                                                text-align: center;
                                                                                            background-color: indianred;
                                                                                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                                            
                                                                                            }
                                                                                            .td80{
                                                                                                color: black
                                                                                                
                                                                                                
                                                                                                }
                                                                                                .td81{
                                                                                                    text-align: center;
                                                                                                background-color: indigo;
                                                                                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                                                                
                                                                                                }
                                                                                                
                                                                                               
                                                                                         
                                                                                                                                                                                                         
                